<div *ngIf="user | async as user else null ">
    <p-toolbar styleClass="bg-gray-900 shadow-2" [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--purple-500), var(--purple-800))' }">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
        </ng-template>
        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">
                <button pTooltip="Ai" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" (click)="navigate('ai')"><i class="pi pi-home text-2xl"></i></button>
                <button pTooltip="feedback" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" (click)="navigate('feedback')"><span class="material-symbols-outlined">feedback</span></button>
                <button pTooltip="subscription" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" (click)="navigate('subscription')"><span class="material-symbols-outlined">
                    loyalty
                    </span></button>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="avatar-container">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                <span class="font-bold text-bluegray-50">{{user.firstName | fullName: user.lastName }}</span>
                <button class="avatar-button" (click)="toggleMenu($event)"></button>
            </div>
            <p-menu #menu [model]="menuItems" [popup]="true" [appendTo]="menuButton" [style]="{ 'position': 'absolute', 'left': '0', 'top': '100%' }"></p-menu>
        </ng-template>
    </p-toolbar>
</div>
