<p-button (click)="showDialog()" label="Forgot password"></p-button>
<form [formGroup]="information" (ngSubmit)="submit()">
    <p-dialog header="Reset password" [(visible)]="visible" [style]="{ width: '50vw' }">
        <div class="flex py-2 justify-content-center">
            <p-floatLabel>
                <input id="email" pInputText type="text" formControlName="email" [value]="email">
                <label for="email">Email</label>
            </p-floatLabel>
        </div>
        <div style="display: flex; justify-content: center;">
            <p-button label="Cancel" (onClick)="closeDialog()"></p-button>
            <p-button label="Confirm" type="submit" [disabled]="!information.valid"></p-button>
        </div>

    </p-dialog>
</form>