<form (ngSubmit)="submit()" [formGroup]="loginForm">

    <br/>
    <br/>
    <br/>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <p-floatLabel>
        <input pInputText id="username" />
        <label for="username">Username</label>
</p-floatLabel>
    </p-inputGroup>
    <br/>
    <p-inputGroup>
        <p-inputGroupAddon >
            <i class="pi pi-key"></i> 
        </p-inputGroupAddon>
        <p-floatLabel>
        <p-password formArrayName="password" [feedback]="false" [style]="{'width': '50%'}" [maxLength]="50" id="password"></p-password>
        <label for="password">Password</label>
        </p-floatLabel>
    </p-inputGroup>

    <br/>
    <p-button label="Forgot password!" [text]="true" severity="help"></p-button>
    <br/>
    <br/>
    <p-button type="submit" icon="pi pi-sign-in"></p-button>
</form>
