@if (currentStep==1) {
<div >
    <p-inputGroup>
    <p-inputGroupAddon>
        <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input pInputText placeholder="Username" />
</p-inputGroup>
<p-button label="Next" icon="pi pi-arrow-right" [iconPos]="'right'" (click)="goToStep(2)"></p-button>
</div>}
@else if (currentStep==2) {
<div>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Email" />
        <p-inputGroupAddon>
            <p-dropdown [options]="hosts" optionLabel="name" [filter]="true" [placeholder]="hosts[0]"></p-dropdown>
        </p-inputGroupAddon>
    </p-inputGroup>
    <p-button label="Previous" icon="pi pi-arrow-left" [iconPos]="'right'" (click)="goToStep(1)"></p-button>
    <p-button label="Next" icon="pi pi-arrow-right" [iconPos]="'right'" (click)="goToStep(3)"></p-button>
</div>
}
@else {
<div>


    <p-button label="Previous" icon="pi pi-arrow-left" [iconPos]="'right'" (click)="goToStep(2)"></p-button>
    <p-button label="Submit" icon="pi pi-arrow-right" [iconPos]="'right'" (click)="submit()"></p-button>
</div>

}